#dashboard {
    font-size: 36px;
    text-align: center;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 5px;
    padding-left:  150px;
    height: 60px;
    background-color: #15191dd9
     
}

#searchHeader {
    height: 5px;
}

#searchRow {
    height: 30px;
}
#searchButton {
    background-color:  blue;
    height:  30px;

}